@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- About -->
        <section class="about section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                        <h2 class="section-title">About<span>DecorVista</span></h2>
                        <p>DecorVista is an innovative online platform that seamlessly connects creative design ideas with premium interior products.</p>
                        <p>We offer a comprehensive solution that allows users to easily explore, shop, and consult on design, creating the perfect living spaces.</p>
                        <p>With a user-friendly interface and modern features, DecorVista bridges the gap between homes and the latest design trends, ensuring a convenient, high-quality, and inspiring experience for all users.</p>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                        <div class="about-img">
                            <div class="img"> <img src="~/img/about.jpg" class="img-fluid" alt=""> </div>
                            <div class="about-img-2 about-buro">VietNam Office</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team -->
        <section class="team section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="section-title">Our <span>Team</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 owl-carousel owl-theme">
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="/img/team/jonathan-adler.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Jonathan Adler</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="https://www.facebook.com/JonathanAdlerEnterprises"><i class="ti-facebook"></i></a> <a href="https://x.com/JonathanAdler"><i class="ti-twitter-alt"></i></a> <a href="https://www.instagram.com/jonathanadler?igsh=NWZrMmllMnFoZ2V4"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="/img/team/kelly-hoppen.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Kelly Hoppen</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="https://www.facebook.com/KellyHoppen"><i class="ti-facebook"></i></a> <a href="https://x.com/KellyHoppen"><i class="ti-twitter-alt"></i></a> <a href="https://x.com/KellyHoppen"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="/img/team/quach-thai-cong.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Quach Thai Cong</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="https://www.facebook.com/thaicong"><i class="ti-facebook"></i></a> <a href="https://www.instagram.com/thaicong_official"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="~/img/team/4.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Jesica Smith</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="~/img/team/5.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Olivia Brown</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="img">
                                <a href="team-details.html"><img src="~/img/team/6.jpg" alt=""></a>
                            </div>
                            <div class="info">
                                <h6>Fredia Martin</h6>
                                <p>Architect</p>
                                <div class="social valign">
                                    <div class="full-width">
                                        <p>Contact</p> <a href="#"><i class="ti-facebook"></i></a> <a href="#"><i class="ti-twitter-alt"></i></a> <a href="#"><i class="ti-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Promo video - Testiominals -->
        <section class="testimonials">
            <div class="background bg-img bg-fixed section-padding pb-0" data-background="~/img/banner2.jpg" data-overlay-dark="3">
                <div class="container">
                    <div class="row">
                        <!-- Promo video -->
                        <div class="col-md-6">
                            <div class="vid-area">
                                <div class="vid-icon">
                                    <a class="play-button vid" href="https://www.youtube.com/watch?v=r3zrA9v6RpM">
                                        <svg class="circle-fill">
                                            <circle cx="43" cy="43" r="39" stroke="#fff" stroke-width=".5"></circle>
                                        </svg>
                                        <svg class="circle-track">
                                            <circle cx="43" cy="43" r="39" stroke="none" stroke-width="1" fill="none"></circle>
                                        </svg> <span class="polygon">
                                            <i class="ti-control-play"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="cont mt-15 mb-30">
                                    <h5>View promo video</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Testiominals -->
                        <div class="col-md-5 offset-md-1">
                            <div class="testimonials-box animate-box" data-animate-effect="fadeInUp">
                                <div class="head-box">
                                    <h4>What Client's Say?</h4>
                                </div>
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <span class="quote"><img src="~/img/quot.png" alt=""></span>
                                        <p>I couldn't be happier with the interior design service I received! The designer truly understood my vision and transformed my space into something even better than I had imagined. The entire process was smooth and professional, and I loved how personalized the service felt. Highly recommended!</p>
                                        <div class="info">
                                            <div class="author-img"> <img src="~/img/team/1.jpg" alt=""> </div>
                                            <div class="cont">
                                                <h6>Jason Brown</h6> <span>Crowne Plaza Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <span class="quote">
                                            <img src="~/img/quot.png" alt="">
                                        </span>
                                        <p>Buying furniture through this platform was a fantastic experience. The product selection was amazing, and the quality of the pieces exceeded my expectations. The checkout process was easy, and my order arrived quickly and in perfect condition. I'll definitely be back for more!</p>
                                        <div class="info">
                                            <div class="author-img"> <img src="~/img/team/2.jpg" alt=""> </div>
                                            <div class="cont">
                                                <h6>Emily White</h6> <span>Armada Owner</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <span class="quote">
                                            <img src="~/img/quot.png" alt="">
                                        </span>
                                        <p>The consultation appointment was outstanding! The designer was incredibly knowledgeable and offered insightful advice tailored to my style and budget. They were punctual, friendly, and made me feel comfortable throughout the process. I'm so excited to see the final results!</p>
                                        <div class="info">
                                            <div class="author-img"> <img src="~/img/team/4.jpg" alt=""> </div>
                                            <div class="cont">
                                                <h6>Jesica Smith</h6> <span>Alsa Manager</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Clients -->
        <section class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="owl-carousel owl-theme">
                            <div class="clients-logo">
                                <img src="~/img/clients/1.png" alt="">
                            </div>
                            <div class="clients-logo">
                                <img src="~/img/clients/2.png" alt="">
                            </div>
                            <div class="clients-logo">
                                <img src="~/img/clients/3.png" alt="">
                            </div>
                            <div class="clients-logo">
                                <img src="~/img/clients/4.png" alt="">
                            </div>
                            <div class="clients-logo">
                                <img src="~/img/clients/6.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
