@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "RoleController";
}

<h1>Role Management</h1>
<table class="table">
    <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody>

    </tbody>
</table>

